<!-- 顶部导航 start -->
<div class="topnav">
    <div class="topnav_bd w1210 bc">
        <div class="topnav_left">

        </div>
        <div class="topnav_right fr">
            <notempty name="Think.session.user_name">
                <ul>
                    <li>您好，【{$Think.session.user_name}】欢迎来到京西！[<a href="{:U('User/logout')}">退出系统</a>] </li>
                    <li class="line">|</li>
                    <li>我的订单</li>
                    <li class="line">|</li>
                    <li>客户服务</li>

                </ul>
            <else />
                <ul>
                    <li>您好，欢迎来到京西！[<a href="{:U('User/login')}">登录</a>] [<a href="{:U('User/regist')}">免费注册</a>] </li>
                    <li class="line">|</li>
                    <li>我的订单</li>
                    <li class="line">|</li>
                    <li>客户服务</li>

                </ul>
            </notempty>
        </div>
    </div>
</div>
<!-- 顶部导航 end -->
<!--引入公共的jquery-->
<script type="text/javascript" src="{$Think.config.COMMON_URL}js/jquery-1.11.3.min.js"></script>
